<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="max-width: 90%; margin: auto; padding-top: 20px">
        <h2>Welcome to the reset window: ${username} </h2>
        <h4>You OTP for reset password is:</h4>
        <h1 style="color:red; font-size: 40px; letter-spacing: 2px; text-align:center;">${otp}</h1>
        <p style="margin-bottom: 30px;">Your OTP will be valid for 10min Only</p>
        <p style="margin-bottom: 30px;"><a href = "http://localhost:3300/reset-password">Reset using link</a></p>
    </div>
</body>
</html>